<%- include("partials/header") %>
<link rel="stylesheet" type="text/css" href="css/articles.css"/>
<div id="wrapper">
  
  <!-- /nav -->
  <div id="content">
      <div id="latest">
        <h3>Articles</h3>
        <div class="spost">
          <h2><a href="#">Phasellus accumsan</a></h2>
          <img src="https://www.aoe.com/fileadmin/AOE.com/images/main_navigation/blog/Stock_Photos/miscellaneous/Fotolia_94900081_Chess_Pieces_930_590_70.jpg" alt="" width="150" height="105" border="0" />
          <p>Donec lacinia massa et arcu commodo sit amet aliquet urna vulputate. Phasellus eget vulput &#8230; <a href="#">Read entire article &raquo;</a></p>
        </div>
        <!-- /spost -->
        <div class="spbottom"></div>
        <div class="spost">
          <h2><a href="#">Integer blandit</a></h2>
          <img src="images/featured2.jpg" alt="" width="150" height="105" border="0" />
          <p>Donec nec lacus ligula, ac fringilla nisl. Donec a neque metus, id cursus nibh. Fusce ulla &#8230; <a href="#">Read entire article &raquo;</a></p>
        </div>
        <!-- /spost -->
        <div class="spbottom"></div>
        <div class="spost">
          <h2><a href="#">Aenean eros enim</a></h2>
          <img src="images/featured3.JPG" alt="" width="150" height="105" border="0" />
          <p>Vivamus sit amet nibh et tellus posuere facilisis. Nam orci augue, blandit in pharetra id &#8230; <a href="#">Read entire article &raquo;</a></p>
        </div>
        
        
      <!-- /latest -->
    </div>
    
  </div>
  <!-- /content -->
</div>

