<%- include('./partials/header'); -%>
<link rel="stylesheet" href="css/chessboard.css">

<script src="scripts/chess-board-init.min.js"></script>
<script src="scripts/chess.js"></script>

<div class="chess-board">
<div id="myBoard"></div>
<!-- <button id="showPositionBtn">Show position in console</button> -->
<!-- <button id="startPositionBtn">Start Position</button> -->
<!-- <button id="flipOrientationBtn">Flip orientation</button> -->
<div id="pgn"></div>

<script src="scripts/chess-board.js"></script>
</div>
<%- include('./partials/footer'); -%>

