<%- include("partials/header") %>
<link rel="stylesheet" type="text/css" href="css/forms.css"/>
<div class="sign-page">

    <form class="form" method="post" action="/register"> 
        <div class="form__group">
            <input name="username" type="text" placeholder="Username" class="form__input" autocomplete="off" />
        </div>
        
        <div class="form__group">
            <input name="email" type="email" placeholder="Email" class="form__input" autocomplete="off" />
        </div>
        
        <div class="form__group">
            <input name="password" type="password" placeholder="Password" class="form__input" />
        </div>
        
        <button class="btn-sign" type="submit">Register</button>
    </form>
</div>
<%- include("partials/footer") %>

