
body
{
	display: flex;
    height: 100vh;
}

#wrapper
{
    min-height: 80vh;
	background-color:#beige;
	max-width:50vw;
    margin-top: 15%;
	margin-left: 5%;
}

#content {
	max-width: 50vw;
}

.spost {
    margin-bottom: 80px;
}
.spost h2 {
    padding-top: 10px;
    padding-bottom:10px;
}


#latest {
	width:590px;
	margin:10px;
	padding:10px;
	background-color: beige;
	background-position:top;
	background-repeat:no-repeat;
	overflow:hidden;
}

#latest p
{
	overflow:hidden;
    margin-bottom: 60px;
}

#latest img img.thumb
{
	float:left;
	margin:5px 10px 10px 0;
	padding:1px;
	border:#c9bba0 1px solid;
}





#latest img
{
	max-width:586px;
	float:left;
	margin:5px 7px 7px 0;
	padding:1px;
	border:#c9bba0 1px solid;
}

#latest h3
{
    display: flex;
	font-size:32px;
	color:#333333;
	text-align: center;
	text-transform:uppercase;
	margin-top:0;
	margin-bottom:40px;
}


#latest h2 a:link, #latest h2 a:visited
{
	color:#333333;
	text-decoration:none;
}


#latest, #bottom
{
	clear:both;
}


@media (max-width: 620px) {
    #wrapper {
        margin-top: 45%;
        margin-left: 20%;
    }

    #latest {
        margin-top: 30%;
    }
    #latest p {
        display: none;
    }
    .spost {
        margin-bottom: 150px;
    }
    
}

.sidebar {
    margin-top: 10%;
    margin-left: 100px;
    max-width: 30vw;
    word-wrap: break-word;
}
