h2 {
  text-transform: none;
}

#comments {
  min-height: 100vh;
  padding-left: 50px;
  margin-top: 20vh;
}

#comments h1 {
  padding: 0 0 30px; 
}

#comments h2 {
  font-size: 1.4rem;
  padding: 50px 0 10px;
  width: 250px;

}

#comments h5 {
  color: #a9a9a9;
  margin-bottom: 40px;
  font-size: 0.7rem;
}

#comments p {
  color: black;
  width: 70vw;
}

#comments a, #comments a:visited, #comments a:hover, #comments a:active {
  color: blue;
}

.form {
  margin-top: 20vh;
  color: #000000;
  overflow: hidden;
}

.form h3 {
  font-size: 1.5rem;
  padding: 20px 0 25px 0;
}

.button {
  margin-top: 30px;
  width: 150px;
}

.comment-field {
  padding: 10px 10px 10px 10px;
  width: 50vw;
}
