@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  max-width: 100%;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  color: #000000;
}

p{
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 20px;
  color: #a9a9a9;
}

body {
  background-color: beige;
}

.container {
  min-height: 100vh;
}

/* navigation bar desktop */
.navbar {
  width: 100vw;
  height: 60px;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: space-between; align-items: center;
  background: #444444;
}

.navbar_items ul{
  display: flex;
  padding-right: 2rem;
}

.navbar_items ul li{
  margin: 0 10px;
}

.navbar_items ul li a{
  text-transform: uppercase;
  color: #fff;
}

/* site info and logo */
.site-info {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 2rem;
  margin-left: 2.5%;
}

.logo a{
  padding-left: 2rem;
  font-family: 'Georgia', cursive;
  font-size: 2.8rem;
  color: #fafafa;
}

/* banner-image desktop */
.banner-image{
  background: url('../images/background.jpeg');
  background-position: 0px 60px;
  background-size: cover;
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: left;
  align-items: center;
}

/* hamburger menu for mobile */
#hamburger {  
  width: 60px;
  height: 45px;
  position: absolute;
  top: 1rem;
  right: 1rem;   
  z-index: 99;
  cursor: pointer;  
  transform: scale(0.8);    
}

#hamburger span {
  display: block;
  position: absolute; 
  height: 9px;
  width: 100%;
  background: #000000;
  border-radius: 9px;
  left: 0;
  transform: rotate(0deg); 
  transition: .25s ease-in-out;    
}

#hamburger span:nth-child(1) {
  top: 0;
}

.show {
    position: absolute;
      top: 0;
}

#hamburger span:nth-child(2),
#hamburger span:nth-child(3) {
  top: 18px;
}

#hamburger span:nth-child(4) {
  top: 36px;
}

#hamburger.open span:nth-child(1),
#hamburger.open span:nth-child(4) {
  width: 0%;
  top: 18px;
  left: 50%;
}

#hamburger.open span:nth-child(2) {
  transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
}

/* hamburger open nav */
nav {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 50;
  background: rgba(0,0,0,0.8);
  user-select: none;
  display: none;
}

nav.show {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

nav li {
  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;
  padding-bottom: 2rem;
  margin-bottom: 1.2rem;
}

nav a {
  text-decoration: none;
  color: #bbb;
}

nav a:hover {
  color: #fff;
}

/* services section */
#services article {
  display: flex;
  flex-direction: row;
}

#services article div {
  flex-basis: 50%;
  flex-grow: 1;
  background-size: cover;
  background-position: top;
  padding: 3rem;
  color: #fff;    
}

article h2 {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

#services article:nth-child(even) {
  flex-direction: row-reverse;
}

.img-home-articles {
  background-image: url(https://images.unsplash.com/photo-1536743939714-23ec5ac2dbae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
}

.img-home-game {
  background-image: url(https://images.chesscomfiles.com/uploads/v1/article/22594.7a2c2908.668x375o.77c7f8236274@2x.jpeg);
}

.button {
  margin-bottom: 3rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.05rem;
  background: #fff;
  color: #000;
  padding: 0.8rem 2rem;
  border-radius: 3rem;
  box-shadow: 0 2px 15px 1px rgba(0,0,0,.5);
  text-align: center;
  font-size: 0.9rem;
  transition: box-shadow 0.3s;
  cursor: pointer;
  border: 0;
  width: 220px;
}

.button:hover {
  box-shadow: 0 3px 18px 2px rgba(0,0,0,.7);
}

article .button {
  margin-top: 3rem;
}

/* Signup form */
#signup h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 3%;
  color: #000000;
}

#form {
  display: flex;
  flex-direction:column;
  position: relative;
  justify-content: center;
}

#form > div {
  padding: 3rem;
}

#form > div:first-child {
  flex-basis: 40%;
  flex-grow: 1;
}

#form > div:last-child {
  flex-basis: 60%;
  flex-grow: 1;
}

label {
  margin-top: 3%;
  margin-bottom: 3%;
  display: block;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.8rem;
}

form > div {
  margin-bottom: 1rem;
}

input[type="email"], input[type="text"], input[type="password"] {
  font-size: 1rem;
  width: 100%;
  padding: 1rem;
}

input[type="checkbox"], input[type="radio"] {
  font-size: 1rem;
  margin: 5px 5px;
}

form span, form a {
  color: #000000;
  padding: 5px;
}

.brown {
  background-image: linear-gradient(to top, #ea9e0f, #a95601);
}

/* footer */
.footer {
  width: 100vw;
  text-align: center;
  background: #444444;
  padding: 20px 0;
}
.footer a {
  color: #000000;
}

/* changes banner-image and logo between desktop and mobile */
@media (min-width: 787px) {
  .big-screen {
    display: block;
  }

  .small-screen {
    display: none;
  }

  .logo-small {
    display: none;
  }
}

@media (max-width: 786px) {
  /* Changes to mobile banner-image, logo and info */
  .big-screen {
    display: none;
  }

  .small-screen {
    display: block;
  }

  .banner-image{
    background: url(../images/mobile-bg.jpg);
  }

  .logo-small {
    width: 60%;
    position: absolute;
    font-size: 2rem;
    padding-left: 10px;
    color: #000000;
    top: 1.5rem;

  }

  .site-info h1 {
    font-size: 1.3rem;
  }

  .site-info {
    margin-left: 20%;
  }

  /* Removing imgs next to services text in mobile */
  .img-home-articles {
    display: none;
  }

  .img-home-game {
    display: none;
  }

  /* adjusting services layout for mobile */
  #services {
    margin: 0;
  }

  #form h1 {
    margin-top: 5%;
  }

  .footer {
    position: absolute;
  }
}
